* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono";
	box-sizing: border-box;

}

body{

	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	

}

header{

	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 5px 25px;
	background-color: aqua;
	position: sticky;
	top: 0;
	z-index: 999;
	border-bottom: solid black 0.1px;

}

header img[alt="Logo"] {

	width: 80px;
	height: 70px;
	border-radius: 50%;


}

header a {

	text-decoration: none;
	color: black;

}

header a img {

	width: 35px;
	height: 32px;

}

header a p {

	margin: 0 !important;


}
.delivery {

	height: 50px;

}

.delivery p {

	margin-top:10px ;
	text-align: center;
	font-weight: 700;
	color: red;
	font-size: 25px;
	animation: color-change 1.2s infinite ;

}

@keyframes color-change {
	0% { color: red;font-size:25px; }
	50% { color: blue; }
	75% { color: green; font-size:30px;}
	85% { color: red; }

  }


/* Sliders  */

.slider{

	border-bottom: solid black;

}

.carousel{

	width: 50%;
	min-width: 300px;
	margin: auto;

}

.carousel-inner{

	height: 500px;

}

.carousel-item img{

	height: 500px;
	width: 100%;

}


/* products section */


.pro-beauty{

	width: 100%;
	display: flex;
	justify-content: space-around;
	gap:10px;
	flex-flow: row wrap;
	padding: 2%;

}

.pro-beauty .product{

	width: 25%;
	min-width: 165px;
	max-width: 250px;
	margin-top: 50px;
	text-align: center;
	border: solid black 0.2px;
	border-radius: 25px;
	padding: 2%;
	height: 330px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

.pro-beauty .product:hover{

	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);

}

.pro-beauty .product img{

	max-width: 100%;
	/* min-width: 160px; */
	height:82%;
	margin-bottom:20px;


}

.pro-beauty .product h5 {

	color: red;
	font-weight: bold;

}


.banner {

	width: 100vw;

}

.banner img {

	width: 100%;
	height: 75vh;

}



@media all and (max-width: 850px){

	header img[alt="Logo"] {

		width: 60px;
		height: 50px;
	
	}

	header a img {

		width: 30px;
		height: 25px;

	}

	header a p {

		font-size: 12px;
		font-weight: 700;

	}
	
	.pro-beauty .product {
		padding:3%;
	}


}
